*{
    margin: 0;
    padding: 0;
    transition: 0.5s;
    user-selete: none;
}
html{
    height: 100%;
    width: 100%;
}
body{
    background: rgb(50,50,50);
    font-family: 'Saira', sans-serif;
    margin: 0rem;
}
ul li{
    display: inline-block;
    padding: 10px;
}
ul li a{
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 15px;
}
ul li a:hover{
    margin: 5px;
    color: #feff80;
    text-decoration: underline;
}
.navbar{
    
    z-index: 2;
    width: 100%;
    background: #000;
    justify-content: center;
    display: flex;
    position: fixed;
}
.header ul{
    padding-right: 15px;
}
.header h1{
    text-align: center;
    color: white;
}
.header p{
    position: relative;
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 100px;
}
.phi{
    text-decoration: none;
    position: relative;
    font-size: 30px;
    color: white;
    text-align: center;
}
.header img{
    overflow: hidden;
    height: 50%;
    width: 100%;
}
h2{
    color: white;
    font: 20px;
    text-align: center;
}

@media only screen and (max-width:700px){
    .phi{
        font-size: 24px;
    }
    .header img{
        width: 100%;
        height: 50vh;
    }
    .header p{
        font-size: 24px;
    }
    .header a{
        font-size: 15px;
        padding-top: 10px;
    }
}
