html{
    height: 100%;
    width: 100%;
}
body{
    background: #0c1016;
    font-family: 'Saira', sans-serif;
    margin: 0rem;
}
.header ul{
    padding-right: 15px;
    text-align: right;
}
.header p{
    position: relative;
    font-size: 24px;
    color: white;
    text-align: center;
    text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px, 0 0 60px #000, 0 0 70px #000, 0 0 80px #000, 0 0 90px #000, 0 0 100px #000;
    padding-top: 75px;
}
.header ul li{
    display: inline-block;
    padding: 10px;
}
.header a{
    text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 50px, 0 0 60px #000, 0 0 70px #000, 0 0 80px #000, 0 0 90px #000, 0 0 100px #000;
    text-decoration: none;
    color: white;
    position: relative;
    transition: 0.5s;
    font-size: 15px;
}
.header a:hover{
    color: #f7fa04;
    text-decoration: underline;
}
.header img{
    position: absolute;
    background: linear-gradient(#0c1016);
    z-index: -1;
    height: 100%;
    width: 100%;
}